name: Build

permissions:
  contents: read

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Node ${{ matrix.node_version }} on ${{ matrix.os }}

    strategy:
      matrix:
        include:
          # EOL: April 2026
          - os: ubuntu-latest
            node_version: 22.x

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@master

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}

      - name: Install
        run: npm install

      - name: Build
        run: npm run build
        env:
          NODE_ENV: production

      - name: Test
        run: npm run test
